<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ucl="http://www.unicorcollege.cz/JEE/Library">
<body>
<ui:composition template="/template/blue_travel.xhtml">
    <ui:define name="pageTitle">#{local.buyTrip}</ui:define>
    <ui:define name="primaryContent">

        <!-- Trip selection  -->
        <rich:collapsiblePanel switchType="client" id="tripInfo" header="#{local.holiday}">

            <h:form>
                <h:outputText value="#{local.holiday}: "/>
                <h:selectOneMenu value="#{purchaseController.selectedTripId}">
                    <f:selectItems value="#{purchaseController.allTrips}"/>
                    <a4j:ajax execute="@this" event="change" render="tripInfo"/>
                </h:selectOneMenu>
            </h:form>

            <br/>

            <!--  Trip info (component) -->
            <h3>#{local.holidayDetails}</h3>
            <ucl:trip value="#{purchaseController.contract.holiday}"
                      rendered="#{purchaseController.contract.holiday ne null}"/>

        </rich:collapsiblePanel>

        <rich:collapsiblePanel switchType="client" id="customerInfo" header="#{local.customer}">

            <h:form id="customer">
                <!-- Customer and payment data entry -->
                <h:panelGrid columns="3">

                    <h:outputText value="#{local.firstName}: "/>
                    <h:inputText id="customerFirstName" required="true"
                                 value="#{purchaseController.contract.customer.firstName}">
                        <a4j:ajax execute="@this" render="@this" event="blur"/>
                    </h:inputText>
                    <rich:message for="customerFirstName"/>

                    <h:outputText value="#{local.surname}: "/>
                    <h:inputText id="customerSurname" required="true"
                                 value="#{purchaseController.contract.customer.surname}">
                        <a4j:ajax execute="@this" render="@this" event="blur"/>
                    </h:inputText>
                    <rich:message for="customerSurname"/>

                    <h:outputText value="#{local.creditCardNo}: "/>
                    <h:panelGroup>
                        <h:inputText id="creditCardNo1"
                                     value="#{purchaseController.creditCardNo[0]}">
                            <a4j:ajax execute="@this" render="@this" event="blur"/>
                        </h:inputText>
                        -
                        <h:inputText id="creditCardNo2"
                                     value="#{purchaseController.creditCardNo[1]}">
                            <a4j:ajax execute="@this" render="@this" event="blur"/>
                        </h:inputText>
                        -
                        <h:inputText id="creditCardNo3"
                                     value="#{purchaseController.creditCardNo[2]}">
                            <a4j:ajax execute="@this" render="@this" event="blur"/>
                        </h:inputText>
                        -
                        <h:inputText id="creditCardNo4"
                                     value="#{purchaseController.creditCardNo[3]}">
                            <a4j:ajax execute="@this" render="@this" event="blur"/>
                        </h:inputText>
                    </h:panelGroup>
                    <h:outputText value=""/>

                    <h:outputText value="#{local.creditCardValidity}: "/>
                    <h:panelGroup>
                        <h:inputText id="creditCardValidity1"
                                     value="#{purchaseController.creditCardValidity[0]}">
                            <a4j:ajax execute="@this" render="@this" event="blur"/>
                        </h:inputText>
                        /
                        <h:inputText id="creditCardValidity2"
                                     value="#{purchaseController.creditCardValidity[1]}">
                            <a4j:ajax execute="@this" render="@this" event="blur"/>
                        </h:inputText>
                    </h:panelGroup>
                    <h:outputText value=" "/>

                </h:panelGrid>
            </h:form>

        </rich:collapsiblePanel>

        <rich:collapsiblePanel switchType="client" id="travellerInfo" header="#{local.travellers}">

            <!-- Traveller list -->
            <h:form>
                <rich:dataTable
                        value="#{ucl:asList(purchaseController.contract.travellers)}"
                        var="traveller" iterationStatusVar="travellerStat">
                    <rich:column>
                        <f:facet name="header">#{local.name}</f:facet>
                        <ui:fragment
                                rendered="#{traveller eq purchaseController.currentTraveller}">
                            <b><i>#{traveller.surname}, #{traveller.firstName}</i></b>
                        </ui:fragment>
                        <ui:fragment
                                rendered="#{traveller ne purchaseController.currentTraveller}">
                            #{traveller.surname}, #{traveller.firstName}
                        </ui:fragment>

                    </rich:column>
                    <rich:column>
                        <f:facet name="header">#{local.idNumber}</f:facet>
                        #{traveller.idNumber}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">#{local.dateOfBirth}</f:facet>
                        <h:outputText value="#{traveller.dateOfBirth}">
                            <f:convertDateTime pattern="dd.M.yyyy"/>
                        </h:outputText>
                    </rich:column>
                    <rich:column>
                        <a4j:commandLink action="#{purchaseController.selectTraveller}" value="#{local.select}"
                                         render="travellerInfo" execute="@this">
                            <f:setPropertyActionListener
                                    target="#{purchaseController.selectedTravellerId}"
                                    value="#{(traveller.id ne null) ? traveller.id : purchaseController.travellerHashCode(traveller)}"/>
                        </a4j:commandLink>
                    </rich:column>
                    <rich:column>
                        <a4j:commandLink action="#{purchaseController.removeTraveller}"
                                         value="#{local.remove}" execute="@form" render="travellerInfo">
                            <f:setPropertyActionListener
                                    target="#{purchaseController.selectedTravellerId}"
                                    value="#{(traveller.id ne null) ? traveller.id : purchaseController.travellerHashCode(traveller)}"/>
                        </a4j:commandLink>
                    </rich:column>
                </rich:dataTable>
            </h:form>

            <br/>

            <!-- Traveller data entry -->
            <h:form>
                <a4j:commandButton value="#{local.travellerFromCustomer}"
                                   action="#{purchaseController.copyTravellerFromCustomer}"
                                   render="travellerInfo"/>
                <a4j:commandButton action="#{purchaseController.newTraveller}"
                                   value="#{local.new}" render="travellerInfo"/>
            </h:form>
            <h:form id="traveller">
                <h:panelGrid columns="3">
                    <h:outputText value="#{local.firstName}: "/>
                    <h:inputText id="travellerFirstName"
                                 value="#{purchaseController.currentTraveller.firstName}"
                                 label="#{local.firstName}" required="true"/>
                    <rich:message for="travellerFirstName"/>

                    <h:outputText value="#{local.surname}: "/>
                    <h:inputText id="travellerSurname" label="#{local.surname}"
                                 required="true"
                                 value="#{purchaseController.currentTraveller.surname}"/>
                    <rich:message for="travellerSurname"/>

                    <h:outputText value="#{local.idNumber}: "/>
                    <h:inputText id="travellerIdNumber" label="#{local.idNumber}"
                                 required="true"
                                 value="#{purchaseController.currentTraveller.idNumber}"/>
                    <rich:message for="travellerIdNumber"/>

                    <h:outputText value="#{local.dateOfBirth}: "/>
                    <rich:calendar id="travellerDateOfBirth" popup="true"
                                   label="#{local.dateOfBirth}" required="true"
                                   value="#{purchaseController.currentTraveller.dateOfBirth}"
                                   pattern="dd.M.yyyy"/>
                    <rich:message for="travellerDateOfBirth"/>
                </h:panelGrid>
                <a4j:commandButton action="#{purchaseController.saveTraveller}"
                                   value="#{local.addToList}" execute="@form" render="travellerInfo"/>
            </h:form>

        </rich:collapsiblePanel>

        <h:form>
            <rich:messages/>
            <a4j:outputPanel layout="block" ajaxRendered="true">
                <h:panelGrid columns="2">
                    <h:outputText value="#{local.price}: "/>
                    <h:outputText value="#{purchaseController.calculatedPrice}"/>
                </h:panelGrid>
            </a4j:outputPanel>
            <h:commandButton value="#{local.confirmContract}"
                             action="#{purchaseController.confirmContract}"/>
        </h:form>

    </ui:define>
</ui:composition>
</body>
</html>