<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich">
<body>
<ui:composition template="/template/blue_travel.xhtml">
    <ui:define name="pageTitle">#{local.tripList}</ui:define>
    <ui:define name="primaryContent">
        <h:form>
            <rich:dataTable var="trip" value="#{holidayManager.allHolidays}">
                <rich:column>
                    <f:facet name="header">#{local.name}</f:facet>
                    #{trip.name}
                </rich:column>
                <rich:column>
                    <f:facet name="header">#{local.starts}</f:facet>
                    #{trip.starts}
                </rich:column>
                <rich:column>
                    <f:facet name="header">#{local.ends}</f:facet>
                    #{trip.ends}
                </rich:column>
                <rich:column>
                    <f:facet name="header">#{local.price}</f:facet>
                    #{trip.price}
                </rich:column>
                <rich:column>
                    <h:commandLink value="#{local.tripRemove}" action="#{holidayManager.removeHoliday}">
                        <f:setPropertyActionListener target="#{holidayManager.currentHolidayId}" value="#{trip.id}"/>
                    </h:commandLink>
                </rich:column>
                <rich:column>
                    <h:link value="#{local.tripDetail}" outcome="show_detail" includeViewParams="true">
                        <f:param name="tripId" value="#{trip.id}"/>
                    </h:link>
                </rich:column>
            </rich:dataTable>
        </h:form>
    </ui:define>
</ui:composition>
</body>
</html>