<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">
<h:head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title><ui:insert name="pageTitle">SEM07</ui:insert></title>
</h:head>
<ui:insert name="metadata"/>
<h:body>
    <rich:panel>
        <h:form>
            <rich:toolbar>
                <rich:dropDownMenu>
                    <f:facet name="label">#{local.hotel}</f:facet>
                    <rich:menuItem submitMode="server" label="#{local.selectHotel}" action="mm_select_hotel"
                                   disabled="#{hotelController.hotelSelected}"/>
                    <rich:menuItem submitMode="server" label="#{local.closeHotel}"
                                   action="#{hotelController.closeHotel}" disabled="#{!hotelController.hotelSelected}"/>
                </rich:dropDownMenu>
                <rich:dropDownMenu disabled="#{!hotelController.hotelSelected}">
                    <f:facet name="label">#{local.rooms}</f:facet>
                    <rich:menuItem submitMode="server" label="#{local.addRoom}" action="mm_room_add"/>
                    <rich:menuItem submitMode="server" label="#{local.listRooms}" action="mm_room_list"/>
                </rich:dropDownMenu>
                <rich:dropDownMenu disabled="#{hotelController.hotelSelected}">
                    <f:facet name="label">#{local.taxi}</f:facet>
                    <rich:menuItem submitMode="server" label="#{local.sendRequest}" action="mm_taxi_request"/>
                </rich:dropDownMenu>
                <rich:dropDownMenu disabled="#{hotelController.hotelSelected}">
                    <f:facet name="label">#{local.reservations}</f:facet>
                    <rich:menuItem submitMode="server" label="#{local.createReservation}"
                                   action="mm_reservation_create"/>
                    <rich:menuItem submitMode="server" label="#{local.cancelReservation}"
                                   action="mm_reservation_cancel"/>
                </rich:dropDownMenu>
            </rich:toolbar>
        </h:form>

        <h2><ui:insert name="pageTitle">SEM07</ui:insert></h2>
        <ui:insert name="primaryContent">Primary content</ui:insert>

    </rich:panel>
</h:body>
</html>