<?xml version="1.0" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ucl="http://www.unicorcollege.cz/JEE/Library">
<h:head/>
<h:body>
    <ui:composition template="/template/page.xhtml">
        <ui:define name="pageTitle">#{local.cancelReservation}</ui:define>
        <ui:define name="primaryContent">
            <h:form>
                <rich:messages showDetail="true"/>
                <h:panelGrid columns="2">
                    <h:outputText value="#{local.reservationCode}: "/>
                    <h:inputText value="#{reservationController.reservationCode}" size="20" required="true"/>
                </h:panelGrid>
                <br/>
                <h:commandButton value="#{local.cancelReservationButton}"
                                 action="#{reservationController.cancelReservation}"/>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>