<?xml version="1.0" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ucl="http://www.unicorcollege.cz/JEE/Library">
<h:head/>
<h:body>
    <ui:composition template="/template/page.xhtml">
        <ui:define name="pageTitle">#{local.createReservation}</ui:define>
        <ui:define name="primaryContent">

            <h:form id="reservationForm">
                <rich:messages tooltip="true"/>

                <h:panelGrid columns="3">
                    <h:outputText value="#{local.location}: "/>
                    <h:selectOneMenu value="#{reservationController.location}" required="true">
                        <a4j:ajax event="change" render="reservationForm" execute="@this"/>
                        <c:forEach items="#{reservationController.allLocations}" var="location">
                            <f:selectItem itemValue="#{location}" itemLabel="#{location}"/>
                        </c:forEach>
                    </h:selectOneMenu>
                    <h:outputText value=""/>

                    <h:outputText value="#{local.hotel}: "/>
                    <h:selectOneMenu value="#{reservationController.hotelName}" required="true">
                        <c:forEach items="#{reservationController.localHotels}" var="hotel">
                            <f:selectItem itemValue="#{hotel.name}" itemLabel="#{hotel.name}"/>
                        </c:forEach>
                    </h:selectOneMenu>
                    <h:outputText value=""/>

                    <h:outputText value="#{local.beds}: "/>
                    <rich:inputNumberSpinner id="bedCount" value="#{reservationController.bedCount}" minValue="1"
                                             maxValue="10" required="true"/>
                    <rich:message for="bedCount"/>

                    <h:outputText value="#{local.customerName}: "/>
                    <h:inputText id="customerName" value="#{reservationController.customerName}" required="true"/>
                    <rich:message for="customerName"/>

                    <h:outputText value="#{local.dayFrom}: "/>
                    <rich:calendar id="dayFrom" datePattern="d.M.yyyy" popup="false"
                                   value="#{reservationController.from}" required="true"/>
                    <rich:message for="dayFrom"/>

                    <h:outputText value="#{local.dayTo}: "/>
                    <rich:calendar id="dayTo" datePattern="d.M.yyyy" popup="false" value="#{reservationController.to}"
                                   required="true"/>
                    <rich:message for="dayTo"/>

                </h:panelGrid>
                <h:commandButton value="#{local.create}" action="#{reservationController.createReservation}"/>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>