<?xml version="1.0" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ucl="http://www.unicorcollege.cz/JEE/Library">
<h:head/>
<h:body>
    <ui:composition template="/template/page.xhtml">
        <ui:define name="pageTitle">#{local.hotelList}</ui:define>
        <ui:define name="primaryContent">
            <h:form>
                <rich:dataTable var="hotel" value="#{hotelController.hotelList}">
                    <rich:column>
                        <f:facet name="header">#{local.name}</f:facet>
                        #{hotel.name}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">#{local.location}</f:facet>
                        #{hotel.location}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">#{local.description}</f:facet>
                        #{hotel.description}
                    </rich:column>
                    <rich:column>
                        <h:link value="#{local.select}" outcome="hotel_selected" includeViewParams="true">
                            <f:param name="hotelId" value="#{hotel.id}"/>
                        </h:link>
                    </rich:column>
                </rich:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>