<?xml version="1.0" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ucl="http://www.unicorcollege.cz/JEE/Library">
<h:head/>
<h:body>
    <ui:composition template="/template/page.xhtml">
        <ui:define name="pageTitle">
            <h:outputText value="#{local.addRoom}" rendered="#{!hotelController.roomSelected}"/>
            <h:outputText value="#{local.changeRoom}" rendered="#{hotelController.roomSelected}"/>
        </ui:define>

        <ui:define name="metadata">
            <f:metadata>
                <f:viewParam name="hotelId" value="#{hotelController.selectedHotelId}" required="true"/>
                <f:viewParam name="roomId" value="#{hotelController.selectedRoomId}" required="false"/>
            </f:metadata>
        </ui:define>

        <ui:define name="primaryContent">

            <ucl:hotel value="#{hotelController.selectedHotel}"/>

            <br/>
            <h3>#{local.roomData}</h3>

            <h:form>

                <h:panelGrid columns="3">
                    <h:outputText value="#{local.roomNumber}: "/>
                    <h:inputText id="roomNumber" value="#{hotelController.room.number}" size="6" required="true"/>
                    <rich:message for="roomNumber"/>

                    <h:outputText value="#{local.floor}: "/>
                    <rich:inputNumberSpinner id="floor" value="#{hotelController.room.floor}" minValue="0"
                                             maxValue="100" required="true"/>
                    <rich:message for="floor"/>

                    <h:outputText value="#{local.beds}: "/>
                    <rich:inputNumberSpinner id="bedCount" value="#{hotelController.room.beds}" minValue="1"
                                             maxValue="10" required="true"/>
                    <rich:message for="bedCount"/>

                    <h:outputText value="#{local.description}: "/>
                    <h:inputTextarea id="description" value="#{hotelController.room.description}" cols="50" rows="10"/>
                    <rich:message for="description"/>

                    <br/>

                </h:panelGrid>
                <h:commandButton value="#{local.addRoomButton}" action="#{hotelController.addRoom}"
                                 rendered="#{!hotelController.roomSelected}"/>
                <h:commandButton value="#{local.changeRoomButton}" action="#{hotelController.changeRoom}"
                                 rendered="#{hotelController.roomSelected}"/>
                <h:commandButton immediate="true" value="#{local.cancelButton}" action="cancel"/>

                <br/>
                <h:commandLink value="#{local.removeRoom}" action="#{hotelController.removeRoom}"
                               rendered="#{hotelController.roomSelected}"/>
            </h:form>

        </ui:define>
    </ui:composition>
</h:body>
</html>