<?xml version="1.0" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ucl="http://www.unicorcollege.cz/JEE/Library">
<h:head/>
<h:body>
    <ui:composition template="/template/page.xhtml">
        <ui:define name="pageTitle">#{local.roomList}</ui:define>
        <ui:define name="metadata">
            <f:metadata>
                <f:viewParam name="hotelId" value="#{hotelController.selectedHotelId}" required="true"/>
            </f:metadata>
        </ui:define>
        <ui:define name="primaryContent">
            <ucl:hotel value="#{hotelController.selectedHotel}"/>

            <br/>
            <h3>#{local.rooms}</h3>

            <h:form>
                <rich:dataTable var="room" value="#{ucl:asList(hotelController.selectedHotel.rooms)}">
                    <rich:column>
                        <f:facet name="header">#{local.number}</f:facet>
                        #{room.number}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">#{local.beds}</f:facet>
                        #{room.beds}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">#{local.floor}</f:facet>
                        #{room.floor}
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">#{local.description}</f:facet>
                        <h:outputText value="#{room.description}" escape="false"/>
                    </rich:column>
                    <rich:column>
                        <h:link value="#{local.changeRoom}" outcome="change_room" includeViewParams="true">
                            <f:param name="roomId" value="#{room.id}"/>
                            <f:param name="hotelId" value="#{hotelController.selectedHotelId}"/>
                        </h:link>
                    </rich:column>
                </rich:dataTable>
                <br/>
                <h:link value="#{local.addRoom}" outcome="add_room" includeViewParams="true">
                    <f:param name="hotelId" value="#{hotelController.selectedHotelId}"/>
                </h:link>
            </h:form>

        </ui:define>
    </ui:composition>
</h:body>
</html>