<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ucl="http://www.unicorcollege.cz/JEE/Library">
<h:head/>
<h:body>
    <ui:composition template="/template/page.xhtml">
        <ui:define name="pageTitle">#{local.sendTaxiRequest}</ui:define>
        <ui:define name="primaryContent">

            <h:form id="taxiRequestForm">
                <rich:messages tooltip="true"/>

                <h:panelGrid columns="3">
                    <h:outputText value="#{local.location}: "/>
                    <h:selectOneMenu value="#{taxiController.request.location}" required="true">
                        <c:forEach items="#{reservationController.allLocations}" var="location">
                            <f:selectItem itemValue="#{location}" itemLabel="#{location}"/>
                        </c:forEach>
                    </h:selectOneMenu>
                    <h:outputText value=""/>

                    <h:outputText value="#{local.placeFrom}: "/>
                    <h:inputText id="placeFrom" value="#{taxiController.request.from}" required="true"/>
                    <rich:message for="placeFrom"/>

                    <h:outputText value="#{local.placeTo}: "/>
                    <h:inputText id="placeTo" value="#{taxiController.request.to}" required="true"/>
                    <rich:message for="placeTo"/>

                    <h:outputText value="#{local.distance}: "/>
                    <rich:inputNumberSpinner id="distance" value="#{taxiController.request.distance}" minValue="1"
                                             maxValue="100" required="true"/>
                    <rich:message for="distance"/>

                    <h:outputText value="#{local.customerName}: "/>
                    <h:inputText id="customerName" value="#{taxiController.request.clientName}" required="true"/>
                    <rich:message for="customerName"/>

                    <h:outputText value="#{local.customerContact}: "/>
                    <h:inputText id="customerContact" value="#{taxiController.request.clientContact}" required="true"/>
                    <rich:message for="customerContact"/>

                </h:panelGrid>
                <br/>
                <h:commandButton value="#{local.send}" action="#{taxiController.sendRequest}"/>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>