<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<body>
<ui:composition template="/template/blue_travel.xhtml">
    <ui:define name="pageTitle">#{local.welcomeScreen}</ui:define>
    <ui:define name="primaryContent">
        #{local.welcomeMessage}
    </ui:define>
</ui:composition>
</body>
</html>