<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ucl="http://www.unicorcollege.cz/JEE/Library">
<h:body>
    <ui:component>
        <h:form>
            <rich:collapsiblePanel header="#{local.hotelDetails}">
                <h:panelGrid columns="2">
                    <h:outputText value="#{local.name}: " style="font-weight: bold;"/>
                    <h:outputText value="#{value.name}"/>

                    <h:outputText value="#{local.location}: " style="font-weight: bold;"/>
                    <h:outputText value="#{value.location}"/>

                    <h:outputText value="#{local.description}: " style="font-weight: bold;"/>
                    <h:outputText value="#{value.description}"/>
                </h:panelGrid>
            </rich:collapsiblePanel>
        </h:form>
    </ui:component>
</h:body>
</html>